[Unit]
Description=Minecraft Server

[Service]
Type=simple
WorkingDirectory=/home/minecraft/paper
EnvironmentFile=/home/minecraft/paper/minecraft_java.env
ExecStart=java $JAVA_OPTS -jar /home/minecraft/paper/server.jar nogui
ExecStop=echo "stop" > /run/minecraft.stdin
User=minecraft
Restart=on-failure
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
